span.footer__attach.attach.icon-center
    i.fa.fa-paperclip.attach__icon
input(placeholder='Type your message...').footer__input-message
span.footer__sent.icon-center
    i.fa.fa-arrow-right
span.footer__icon.icon-center
    i.fa.fa-smile-o
