/* Tiny Carousel */
#slider1,
#slider2 {
    overflow: hidden;
    position: relative;
}

#slider1 .viewport,
#slider2 .viewport {
    position: relative;
    height: 796px;
    overflow: hidden;
}

#slider1 .buttons,
#slider2 .buttons {
    display: none;
}

#slider1 .next,
#slider2 .next {
    right: 4rem;
    top: 50%;
}

#slider1 .buttons:hover,
#slider2 .buttons:hover {
    color: #C01313;
    background: #0c2539;
}

#slider1 .disable,
#slider2 .disable {
    visibility: hidden;
}

#slider1 .overview,
#slider2 .overview{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

#slider1 .overview li,
#slider2 .overview li {
    float: left;
 }

@media (min-width: 900px) {

    #slider1 .viewport,
    #slider2 .viewport {
        margin-right: 15rem;
        height: 435px;
    }
    #slider1 .buttons,
    #slider2 .buttons {
        display: block;
        position: absolute;
        top: 50%;
    }
}