@import "./base/normolise";
@import "./base/fonts";
@import "./component/_header";



html,
body,
.wrapper {
  min-width: 750px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.wrapper {
  position: relative;
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}

#footer {
  height: 450px;
  margin-top: -80px;
  padding-top: 4em;
  padding-bottom: 1em;
  color: #959798;
}



