@import "./base/normolise.css";
@import "./base/fonts.scss";
@import "./base/variables.scss";
@import "./component/_mixin.scss";
@import "./component/_header.scss";
@import "./component/_buttons.scss";
@import "./component/_slider.scss";
@import "./component/_brand.scss";
@import "./component/_collection.scss";
@import "./component/_custom-info.scss";
@import "./component/_footer.scss";
@import "./component/_handPicked.scss";
@import "./component/_support.scss";
@import "./component/_title.scss";


html,
body,
.wrapper {
  min-width: 750px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
}

.content {
  box-sizing: border-box;
  min-height: 100%;
}



