.conversation {
  position: relative;
  @include span(12);
  //@extend %clearfix;
}
.conversation__messages {
  padding: 2rem 1rem;
  height: calc(100vh - 101px);
  padding-bottom: 121px;
  overflow-y: scroll;
  background: $color-bg;
}
.conversation__message {
  margin-bottom: 2rem;
}
.conversation__personal,
.conversation__text {
  display: inline-block;
  vertical-align: middle;
}
.conversation__personal {
  max-width: 10%;
}
.conversation__text {
  position: relative;
  max-width: 80%;
  margin-top: -.5rem;
  padding: 1rem;
  font-size: $base__font-size;
  font-weight: $font-weight--light;
  text-align: left;
  background: $color-primary;
  border-radius: 5px;
}
.conversation__text:after,
.conversation__text--color:after {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 15px;
  font-size: 20px;
}
.conversation__text--left:after {
  content: '\f0d9';
  left: -7px;
  color: $color-primary;
}
.conversation__text--right:after {
  content: '\f0da';
  right: -7px;
  color: $color-msg ;
}
.conversation__image {
  width: 35px;
  height: 35px;
}
.conversation__time {
  display: block;
  font-size: $little__font-size;
}
.conversation__message-right {
  text-align: right;
}
.conversation__personal--margin-right {
  margin-right: 1rem;
}
.conversation__personal--margin-left {
  margin-left: 1rem;
}
.conversation__text--right {
  background: $color-msg;
  color: $color-primary;
}

/*** Conversation Footer ***/

.conversation__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: table;
  width: 100%;
  padding: 2rem 2% 1rem;
  background: $color-footerbg;
  color: $color-footer;
}
.conversation__icon {
  display: inline-block;
  vertical-align: middle;
}
.conversation__input,
.conversation__icon--clip,
.conversation__wrapper {
  display: table-cell;
  vertical-align: top;
}
.conversation__icon--clip div {
  display: none !important;
}
.conversation__input {
  width: 100%;
  padding: 0;
  border: none;
  font-size: $base__font-size;
  font-weight: $font-weight--light;
  resize: none;
}
.conversation__input::-webkit-input-placeholder {color:$color-footer;}
.conversation__input::-moz-placeholder          {color:$color-footer}/* Firefox 19+ */
.conversation__input:-moz-placeholder           {color:$color-footer}/* Firefox 18- */
.conversation__input:-ms-input-placeholder      {color:$color-footer}

.conversation__wrapper {
  text-align: right;
}
.conversation__icon--smile {
  margin-right: 1rem;
  display: none;
}
.conversation__icon--submit {
  border: none;
  background: none;
}
.conversation__icon:hover,
.conversation__icon--clip:hover,
.conversation__icon--smile:hover,
.conversation__icon:active,
.conversation__icon--clip:active,
.conversation__icon--smile:active{
  color: $color-msg;
  cursor: pointer;
}
.conversation__icon:disabled:link,
.conversation__icon:disabled:visited,
.conversation__icon:disabled:hover,
.conversation__icon:disabled:active{
  color: $color-footer;
  cursor: initial;
  opacity: 0.7;
}
@include susy-breakpoint($middle, 12) {
  .conversation {
    @include span(9);
    height: calc(100vh - 85px);
  }
  .conversation__icon--smile {
    display: inline-block;
  }
}