//Header grid for mobile version

.header {
  @include span(12);
  position: relative;
  display: table;
  padding: 2.5rem 0;
  background: $color-primary;
  color: $color-secondary;
  border-bottom: $border--light;
}
.header__name {
  font-size: $small__font-size;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}
.header__icon--left,
.header__icon--right,
.header__name {
  float:none;
  display: table-cell;
  vertical-align: middle;
  color: $color-secondary;
}
.header__icon--left:hover,
.header__icon--right:hover,
.header__icon--left:active,
.header__icon--right:active {
  color: $color-msg;
}
.header__icon--left {
  padding-left: 20px;
}
.header__message {
  font-weight: $font-weight--light;
  text-transform: none;
}
.header__item {
  display: inline-block;
  border-left: $border--light;
  background: $color-primary;
}
.header__anchor {
  padding: 1em 46%;
  color: $color-secondary;
  opacity: $half-opacity;
}
.header__anchor:hover,
.header__anchor:active {
  color: $color-msg;
}
.header__nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100px;
  right: 0;
  background: $color-primary;
}
.header__item {
  display: block;
  text-align: center;
  border-top: 1px solid $color-border;
}
.header__message,
.another-name {
  display: none;
}
.display-none {
  display: none;
}

@include susy-breakpoint($middle, 12) {
  .header__icon--left,
  .header__icon--right {
    display:none;
  }
  .header {
    @include span(9);
    @include layout($new-layout);
    padding: 0;
    background: $color-bg;
  }
  .header__message {
    display: inline-block;
  }
  .header__nav {
    position: static;
    @include span(6 of 12 last);
    width: initial;
    display: block;
    background: $color-bg;
  }
  .header__item {
    display: inline-block;
    text-align: center;
    border-top: none;
    background: $color-bg;
  }
  .header__anchor {
    padding: 1em;
  }
  .header__name {
    @include span(6 of 12 first);
    display: table-cell;
    float: none;
    padding-left: 2rem;
  }
}

