// ==========================================================================
// Global Config
// ==========================================================================

// Height

$header-height-mobile : 60px;
$header-height-desktop: 80px;


//
$small: 13px;
$medium : 14px;
$big: 18px;
$large: 20px;


// Font weigth :
$thin: 300;
$light-bold: 500;
$bold: 600;

// Border
$light-border: 1px solid #aaa;

// Color
$grey: #2c333b;
$opacity-gray: rgba(41, 48, 55, 0.8);


// Border radius
$radius: 50%



