// ==========================================================================
// Global Config
// ==========================================================================

// Height

$header-height-mobile : 60px;
$header-height-desktop: 80px;

//
$small: 13px;
$medium : 14px;
$big: 18px;
$large: 20px;


// Font weigth :
$thin: 300;
$light-bold: 500;
$bold: 600;

// Border
$light-border: 1px solid #d6d7da;

// Background
$grey-background: #eff0f3;
$blue-background: #0084ff;
$light-background: #fff;

// Color
$grey: #81868c;

$opacity-gray: rgba(41, 48, 55, 0.8);


// Border radius
$radius: 50%



