@font-face {
  font-family: 'Roboto';

  src: url('../fonts/fontAwesome.otf');
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.svg');
  src: url('../fonts/fontawesome-webfont.ttf');
  src: url('../fonts/fontawesome-webfont.woff');
  src: url('../fonts/fontawesome-webfont.woff2');
}

body {
  font-family: 'Roboto';
  padding-top: 80px;
}