button {
  outline: none;
  cursor: pointer;
}

.header {
  color: $font-dark;
  &__top {
    padding: 10px;
    background: $color-header;
    overflow: hidden;
  }
  &__bottom {
    padding: 25px;
  }
}

.info__phone {
  padding-left: 30px;
  float: left;
}

.phone__number {
  color: $color-dark;
}

.info__pages-nav {
  text-align: right;
  margin: 0 46px 0 0;
  float: right;
}

.phone {
  font-size: $font-distortion;
}

.pages-nav {
  min-width: 500px;
  font-size: 12px;

  &__item {
    padding: 0 28px;
    text-transform: uppercase;
    border-right: 1px solid $color-dark;
  }
  &__item:last-child {
    border-right: none;
  }
}

.item {
  display: inline-block;
}

.link {
  text-decoration: none;
}

.item__link {
  color: $font-dark;
  &:hover {
  color: #fff;
  }
}

.main-nav__item {
  margin-right: 20px;
  .link {
    font-weight: 300;
    font-style: italic;
  }
}

.nav-item__link {
  font-size: 18px;
  color: $font-dark;
  &:hover {
    color: $font-dark;
    background: #eee;
  }
}

.header-bottom-nav {
  overflow: hidden;
  &__main-nav {
    float: left;
    padding-left: 60px;
  }
  &__social {
    float: right;
  }
  &__logo {
    width: 50px;
    margin: auto;
  }
  &__currency {
    float: right;
    margin: 16px 25px 16px 60px;
    border: none;
    background: $color-dark;
    padding: 8px 12px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.section-wrapper {
  max-width: 1450px;
  margin: auto;
}

.social {
  padding: 0;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -108px;
  width: 231px;
  height: 74px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../image/logo.png");
}

.header-bottom-nav__social {
  margin-left: 0;
  padding-left: 0;
}

.social__item {
  height: 30px;
  width: 30px;
  margin-left: 7px;
  border: 1px solid $color-light;
  @include border-radius(50%);
  text-align: center;
}

.item-social__link {
  color: $color-light;
  &:hover {
    color: $font-dark;
  }
}

.item-social__link:before {
  line-height: 1.9em;
}

.currency-option {
  cursor: pointer;
  outline: none;
}

.triangle {
  position: relative;
}

.triangle:before{
  position: absolute;
  display: block;
  left: 50%;
  content: " ";
  margin-left: -180px;
  border: 185px solid transparent;
  border-top: 55px solid #fff;
}

.triangle-little:before {
  border-top: 35px solid #fff;
}

.icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: $color-light;
}

.icon {
  box-shadow: 0 0 0 4px $color-light;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.icon {
  color: $color-light;
}

.icon:before {
  speak: none;
  font-size: 32px;
  line-height: 48px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.icon:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}


.icon:hover:after {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}

.social--black .icon {
  box-shadow: 0 0 0 4px #fff;
  color: #000;
}

.social--black .icon:hover {
  color: #fff;
}


@media screen and (max-width: 1200px){
  .title-block {
    margin: 0;
  }

  .title-block__title:after {
    right:  -50px;
  }

  .social__item {
    margin-left: 4px;
  }

  .header-bottom-nav__main-nav {
    padding-left: 0;
  }
  .header-bottom-nav__currency {
    margin: 15px 0 15px 5px;
  }
  .main-nav__item {
    margin-right: 7px;
  }
  .nav-item__link {
    font-size: 14px;
    color: $font-dark;
  }
}

@media screen and (max-width: 900px){
  .header-bottom-nav__logo {
    margin-top: 50px;
    z-index: 2;
  }

}