
.slider__nav {
  position: absolute;
  padding: 0;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  bottom: 25px;
  text-align: center;
}

.nav-slider__item {

  margin: 0 4px;
  width: 15px;
  height: 15px;
  @include rotate(45deg);
  background: #b2b2b2;

  &:hover {
    background: $color-dark;
  }
}

.slider-item {
  width: 100%;
  &__photo {
    width: 100%;
  }
}

.slider-wrapper__block {
  padding: 0;
}
