.section__title {
  margin: 0 auto;
  text-align: center;
}
.section__heading {
  position: relative;
  padding-bottom: 40px;
  font-family: @font-italic;
  .text(30px);
  text-align: center;
}
.section__heading:before,
.section__heading:after {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  .border(1px, solid, @color-straw);
  background: @color-straw;
  content: '';
  .rotate(45deg);
}
.section__heading:before {
  margin: 0px -34px;
 }
.section__heading:after {
  margin: 0 20px;
}
.section__line, .section__heading {
  display: inline-block;
  margin-right: 5%;
}
.section__line {
  margin-bottom: 9px;
  width: 30%;
  height: 1px;
  background: @color-line;
}
.section__line:last-child {
  margin-right: 0;
}