
.slider__item {
  position: relative;

}
.slider__image {
  width: 100%;
}
.wrappers {
  .wrapper(@top: 0; @border-left: 200px solid transparent; @border-right: 200px solid transparent; @border-top: 80px solid @color-main;);
  left: 40%;
}

.slider__navigation {
  position: absolute;
  bottom: 80px;
  left: 47%;
}
.slider__navigation-item {
  display: inline-block;
  margin-right: 20px;
}
.slider__navigation-diamond {
  width: 12px;
  height: 12px;
  border: 1px solid @color-slider;
  background: @color-slider;
  .rotate(45deg);
}
.slider__navigation-diamond:hover {
  border: 1px solid @color-prime;
  background: @color-prime;
}
