* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: $small__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
}
h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}