@import '~susy/sass/susy';
@import "~breakpoint-sass";

// Susy Grid Config
// For more information: http://susydocs.oddbird.net/en/latest/settings/

$susy: (
        columns: 12,
        gutters: 1/4,
        //container: 100em,
        math: fluid,
        output: float,
        gutter-position: inside,
        global-box-sizing: border-box,

        debug: (
                image: show,
                color: rgba(#66f, .5),
                output: background,
                toggle: top right,
        )

);
$with-layout: (
  columns: 12,
  gutters: 0/4,
//container: 100em,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
);
$middle: 600px;
/* Susy Grid Rules */
body {
  @include show-grid(12);
}
.header {
  @include layout($with-layout);
  @include span(12);
}
.header__icon--left {
  @include span(1);
}
.header__icon--right {
  @include span(1 at 11);
}
.user_name {
  @include span(5 at 3);
}
@include susy-breakpoint($middle, 12) {
  .user_name {

    display:none; //doesn't work but "visibility: hidden" works
  }
}
//.container {
//  @include container();
//  // Using Compass Vertical Rhythm
//}
//.header {
//  @include span(5);
//}
//.user_name {
//  @include span(5);
//}
//.footer {
//  @include span(5 at 6);
//}
//@include breakpoint(500px) {
//  .user_name {
//    @include span(12);
//  }
//}
//@include susy-breakpoint($large, 24) {
//  .user_name {
//    @include span(18);
//  }
//}