//Header grid for mobile version

.header {
  @include span(12);
  @extend %clearfix;
  display: table;
  padding: 2.5rem 0;
  background: $color-primary;
  color: $color-secondary;
  border-bottom: $border--light;
}
.header__name {
  font-size: $small__font-size;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}
.header__icon--left,
.header__icon--right,
.header__name {
  float:none;
  display: table-cell;
  vertical-align: middle;
}
.header__icon--left {
  padding-left: 20px;
}
.header__message {
  font-weight: $font-weight--light;
  text-transform: none;
}
.header__item {
  display: inline-block;
  border-left: $border--light;
}
.header__anchor {
  padding: 1em;
  color: $color-secondary;
  opacity: $half-opacity;
}
.header__anchor:hover,
.header__anchor:active {
  color: $color-msg;
}
.header__nav,
.header__message,
.another-name {
  display: none;
}

@include susy-breakpoint($middle, 12) {
  .header__icon--left,
  .header__icon--right {
    display:none;
  }
  .header {
    @include span(9);
    @include layout($new-layout);
    padding: 0;
    background: $color-bg;
  }
  .header__message {
    display: inline-block;
  }
  .header__nav {
    @include span(15 last);
    display: block;
  }
  .header__name {
    @include span(9 first);
    display: table-cell;
    float: none;
    padding-left: 2rem;
  }
}

