#header {
  background: $color-primary;
  color: $color-secondary;
}
.user_name {
  font-size: $small__font-size;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}
.header {
  @include layout($with-layout);
  @include span(12);
}
.header__icon--left {
  @include span(1);
}
.header__icon--right {
  @include span(1 at 11);
}
.user_name {
  @include span(5 at 3);
}
.header {
  display: table;
  padding: 2.5rem 0;
  border-bottom: $border--light;
}
.header__icon--left,
.header__icon--right,
.user_name,
.another-name {
  float:none;
  display: table-cell;
  vertical-align: middle;
}
.header__icon--left {
  padding-left: 20px;
}
.header__message {
  font-weight: $font-weight--light;
  text-transform: none;
}
.header__nav,
.header__message,
.another-name {
  display: none;
}
.header__item {
  display: inline-block;
  border-left: $border--light;
}
.header__item:last-child {
  background: $color-primary;
}
.header__anchor:hover,
.header__anchor:active {
  background: $color-bg;
  color: $color-msg;
}
.header__anchor {
  padding: 1em;
  color: $color-secondary;
  opacity: $half-opacity;
}
@include susy-breakpoint($middle, 12) {
  .header__icon--left,
  .header__icon--right {
    display:none;
  }
  .header {
    padding: 0;
    background: $color-primary;
  }
  .header__message {
    display: inline-block;
  }
  .header__nav {
    display: block;
  }
  .user_name {
    padding-left: 2rem;
  }
  .another-name {
    display: table-cell;
    background: $color-primary;
  }
  .user_name {
    @include span(3);
    display: table-cell;
    float: none;
  }


}

