/*** GENERAL ***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 720px;
    position: relative;
    font: 10px 'Montserrat', sans-serif;
    color:  #3e3e3e;;
}
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}