.content {
  color: $color-text;
}

.content__header {
  padding: 1em 3.5em;
  background: $color-base;
}

.content__title {
  font-size: 2.25em;
  font-weight: inherit;

  &:after {
    font-family: FontAwesome;
    font-size: .7em;
    content: '\f013';
    margin-left: 10px;
    color: $color-primary;
    cursor: pointer;
  }
}

.content__main {
  padding: 1.5em 3.5em;
  background: $color-secondary;
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statistic__item {
  width: 100%;
  border-left: 4px solid $color-sidebar;
}

.statistic__title {
  padding-left: 10%;
  font-size: 2em;
  font-weight: inherit;
  color: $color-main-text;
}

.statistic__text {
  padding-left: 10%;
  font-size: 1em;
  color: $color-primary;
}

.charts,
.highcharts {
  @include row();
  @include span-columns(12);
}

.d3-1,
.d3-2,
.d3-3,
.d3-4,
.highchart-1,
.highchart-2,
.highchart-3,
.highchart-4 {
  @include span-columns(3);
}


.axis path, .axis line
{
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.tick
{
  stroke-dasharray: 1, 2;
}
.bar
{
  fill: FireBrick;
}

.node {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.link {
  stroke: #999;
  stroke-opacity: 0.3;
}

.bars rect {
  fill: steelblue;
}

.axis text {
  font: 8px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#graph {
  font-size: 10px;
  text-transform: uppercase;
}

#graph .bars line {
  stroke: #95cddf;
  stroke-width: 2px;
}

#graph .tick line {
  stroke: #ccc;
  stroke-width: 1px;
}

#graph .axis path {
  stroke-width: 1px;
  stroke: #ccc;
  fill: none;
}

#graph path#rain-line {
  fill: none;
  stroke: #cc627a;
  stroke-width: 0.5;
}

#graph line#cursor {
  stroke-width: 1.5px;
  stroke: #555;
  fill: none;
  opacity: 0.7;
}

#graph text {
  fill: #aaa;
}

#graph text.label {
  font-weight: bold;
  color: #555;
}

.current-date {
  font-size: .625em;
}
