/*** DESCRIPTIVE COLORS ***/

$color-outer-space:   #35393c;
$color-shark:         #1e2226;
$color-regent-gray:   #8b959f;
$color-abbey:         #4b5055;
$color-white:         #fff;
$color-olivine:       #93c672;
$color-iron:          #c7cbcf;
$color-white-sand:    #f6f6f6;
$shuttle-gray:        #5d646b;
$color-hippie-green:  #598B44;
$color-killarney   :  #32582d;

/*** FUNCTIONAL COLORS ***/

$color-header:              $color-outer-space;
$color-logo:                $color-shark;
$color-text:                $color-regent-gray;
$color-search:              $color-abbey;
$color-base:                $color-white;
$color-sidebar:             $color-olivine;
$color-primary:             $color-iron;
$color-secondary:           $color-white-sand;
$color-main-text:           $shuttle-gray;
$color-sidebar-icon:        $color-hippie-green;
$color-sidebar-icon-active: $color-killarney;