.profile {
  display: none;
}
.profile-details__image {
  margin-bottom: 1rem;
}
.profile-details__name {
  font-size: $large__font-size;
  font-weight: $font-weight--medium;
}
.profile-details__city {
  font-weight: $font-weight--light;
}
@include susy-breakpoint($middle, 12) {
  .profile {
    display: block;
    @include span(3);
    float: right;
    height: 100vh;
    background: $color-primary;
  }

  .profile-settings {
    @include span(12);
    display: table;
    border-bottom: $border--light;
    &__icon {
      @include span(2 first);
      float: none;
      display: table-cell;
      position: relative;
    }
    &__icon:after {
      content: '\f111';
      position: absolute;
      top: 20px;
      left: 23px;
      color: $color-msg;
      font-size: 10px;
    }
    &__name {
      @include span(4 last);
      position: relative;
      float: none;
      display: table-cell;
      padding-right: 3.5rem;
      font-weight: $font-weight--light;
      text-align: right;
    }
    &__name:after {
      position: absolute;
      top: 30px;
      right: 15px;
      padding: 10px;
      content: '\f0d7';
      font: normal normal normal 14px/1 FontAwesome;
      color: $color-msg;
      cursor: pointer;
    }
  }
  .profile-details {
    @include span(12);
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    border-bottom: $border--light;
    &__icon--left {
      height: 39px;
      background: url(../img/sprite3.png);
      background-position: -45px 42px;
    }
    &__icon--left,
    &__icon--right{
      @include span(2);
      color: $color-secondary;
      opacity: $half-opacity;
    }
    &__icon--left:hover,
    &__icon--right:hover,
    &__icon--left:active,
    &__icon--right:active {
      color: $color-msg;
    }
    &__block {
      @include span(8);
      margin-top: 1rem;
    }
  }
  .profile-list {
    @include span(12);
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    &__item {
      @include span(10);
      margin-left: 8%;
      padding: 1rem 0;
      border-bottom: $border--light;
    }
    &__heading {
      @include span(5);
      text-align: left;
      font-weight: $font-weight--medium;
    }
    &__value {
      @include span(5);
      float: right;
      font-weight: $font-weight--light;
      text-align: right;
    }
  }


}